@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*colors*/
  --bg-color: #18191a;
  --accent-color: rgba(255, 255, 255, 0.6);
  --supporting-color: #242526;

  /*fonts*/
  --heading-font: "Poppins";
  --supporting-font: "Roboto Slab";
  --body-font: "Poppins";
}

html {
  background-color: var(--bg-color);
}

/* HOME PAGE */
.home-header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.site-title {
  margin: .5rem;
  color: var(--accent-color);
  font-family: var(--heading-font);
  font-weight: 100;
  font-size: 6rem;
  text-align: center;
}

.site-subtitle {
  color: var(--accent-color);
  font-family: var(--heading-font);
  font-weight: 100;
  font-size: 3rem;
}

.shelf {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.shelf-books {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80%;
}

.book-tile {
  width: 250px;
  height: 200px;
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-decoration: none;
  hyphens: manual;
  background-color: var(--supporting-color);
}

.book-tile-title {
  color: var(--accent-color);
  font-size: 2rem;
  font-family: var(--supporting-font);
}

.book-tile-author {
  color: var(--accent-color);
  font-size: 1.5rem;
  font-family: var(--body-font);
  font-weight: 100;
}

@media screen and (orientation: portrait) {
  .site-title {
    font-size: 4rem;
  }

  .site-subtitle {
    text-align: center;
    padding: .5rem;
    font-size: 2rem;
  }
  
  .book-tile {
    margin: .75rem;
    width: 300px;
    height: 225px;
  }

}